/* archivo de bienestar */
/* nav */

.tex2 {
    color: rgb(58, 53, 53);

}


/* archivo sabias.. */
.tit3 {

    color: rgb(58, 53, 53);
}

#let {
    color: rgb(58, 53, 53);

}
.fot2 {

    text-align: center;

}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}