/* archivo de bienestar */
/* nav */

.tex2 {
    color: rgb(58, 53, 53);
    height: 100%;

}


/* archivo sabias.. */
.tit3 {

    color: rgb(58, 53, 53);
}

#let {
    color: rgb(58, 53, 53);

}
.fot2 {

    text-align: center;

}
.man {
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    text-align: center;
    margin-top: 50px;
    }

    
.imagen {
    width: 200px;
    padding: 7px;
   
}
#top {
    margin-top: 50px;
}