
#z {
    z-index: 99;
}
#contenedor {

    height: 0px;
    padding-bottom: 56.25%;
    text-align: center;
    position: relative;
}

#contenedor iframe {

    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.video-wrapper {
    width: 50%;

}