
@import "./variables.scss";

.main-wrapper {
    display: grid;
    grid-template-areas: 
    
    "col"
    "nav"
    "header"
    "main"
    "footer";
    max-width: 1000px;
    margin: auto;
}
header, nav, main, footer {
    border: solid 2px  rgb(179, 214, 179);
}

header {
    background-color: rgb(231, 229, 229);
}

nav {
    display: flex;
    flex-direction: row;
    height: 50px;
    padding-top: 10px;
    grid-area: nav;
     a {
        margin:5px;   
     }

    }
    .navbar-nav {
        
        align-items: end;
        background-color: rgb(202, 198, 198);
    }




.section1 {
    color: $color-primary;
    text-align: center;
    max-width: 200px;
    display:contents;
    justify-content: space-evenly;
    margin: auto;
    
}

.hola {
    text-align: center;
} 

.fot1 {
    height:300px;
    
    text-align: center;
    
    
    } 

    .section2 {
        color: rgb(58, 53, 53);
      text-align: center;
       flex-direction: row;
       flex-wrap: wrap;
      
       
     } 

     .section3 {
         @extend .section2
         
        }


    .section4 {
        color:  rgb(58, 53, 53);
    text-align: center;
    
      } 

  
body {
    background-color: rgb(179, 214, 179);
}
 

.fot2{ 

    text-align: center;

}

 
  footer {
      background-color: rgb(190, 184, 184);
      text-align: center;
      height: 50px;
      grid-area: footer;
  }   


/* archivo de bienestar */
/* nav */


.tex2 {
    color: rgb(58, 53, 53);

}


/* archivo sabias.. */
.tit3 {
   
    color: rgb(58, 53, 53);
}
#let {
    color: rgb(58, 53, 53);
    
}

/* archivo Musica */

main {

    grid-area: main;
}

#contenedor {
    border: 3px solid grey ; 
    height: 0px;
    padding-bottom: 56.25%;
    position: relative;
            
    }

    #contenedor iframe {
        position: absolute ;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        

    }
    .video-wrapper {
       width: 50%;
       
    }
   
    

/* agregando transicion y animacion */




header:hover {
    background: rgb(138, 220, 245);
    transition: 2s;
    

}

.coll {
    height: 140px;
    width: 140px;
    background: white;
    animation-name: animacion;
    animation-duration: 5s;
    animation-delay: 1s;
    position: relative;
}
@keyframes animacion {
 0% { background: rgb(226, 206, 209);
 }
 25% { background: rgb(156, 162, 199);}
 50% { background: rgb(103, 189, 146);}
 75% { background: rgb(206, 173, 161);}
 100% {background: rgb(165, 140, 155);}


}



/* convertir en responsive la pagina  */



@media screen and (max-width: 768px ) {

     
    header {
    
    
    flex-direction: column;


        }
body {
    background-color: rgb(156, 206, 144);
}
           
}
    






