footer {
  background-color: #beb8b8;
  height: 35px;
  width: 100%;
  bottom: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .red-instagram {
  color: #c0623c;
}

footer .red-facebook {
  color: #4b41a7;
}

.tama {
  height: 25px;
  width: 25px;
}

.tamaa {
  height: 30px;
  width: 30px;
}

.main-wrapper {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "col" "nav" "header" "main" "footer";
  margin: auto;
}

header,
nav,
main,
footer {
  border: solid 3px #b3d6b3;
}

header {
  background-color: #e7e5e5;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 50px;
  padding-top: 10px;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: nav;
}

nav a {
  margin: 5px;
}

.navbar-nav {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  background-color: #cac6c6;
}

h1 {
  color: #3a3535;
}

.section1 {
  color: #3a3535;
  text-align: center;
  max-width: 200px;
  display: contents;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: auto;
}

.hola {
  text-align: center;
}

.fot1 {
  height: 300px;
  text-align: center;
}

.section2, .section3 {
  color: #3a3535;
  text-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section4 {
  color: #3a3535;
  text-align: center;
}

body {
  background-color: #b3d6b3;
  top: 0%;
  margin: 0%;
  padding: 0%;
}

/* agregando transicion y animacion */
header:hover {
  background: #8adcf5;
  -webkit-transition: 2s;
  transition: 2s;
}

.coll {
  background: white;
  -webkit-animation-name: animacion;
          animation-name: animacion;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  position: relative;
}

.coll div {
  height: 140px;
  width: 140px;
}

@-webkit-keyframes animacion {
  0% {
    background: #e2ced1;
  }
  25% {
    background: #9ca2c7;
  }
  50% {
    background: #67bd92;
  }
  75% {
    background: #ceada1;
  }
  100% {
    background: #a58c9b;
  }
}

@keyframes animacion {
  0% {
    background: #e2ced1;
  }
  25% {
    background: #9ca2c7;
  }
  50% {
    background: #67bd92;
  }
  75% {
    background: #ceada1;
  }
  100% {
    background: #a58c9b;
  }
}

.container-fluid {
  background-color: #cac6c6;
}

a img {
  border-radius: 8px;
}

.cambio {
  font-family: cursive;
}

.ClaseCentrado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.teo {
  width: 250px;
  padding: 10px;
}

main {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: main;
}

#contenedor {
  height: 0px;
  padding-bottom: 56.25%;
  text-align: center;
  position: relative;
}

#contenedor iframe {
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.video-wrapper {
  width: 50%;
}

/* archivo de bienestar */
/* nav */
.tex2 {
  color: #3a3535;
  height: 100%;
}

/* archivo sabias.. */
.tit3 {
  color: #3a3535;
}

#let {
  color: #3a3535;
}

.fot2 {
  text-align: center;
}

.man {
  height: 100%;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  width: 100%;
  text-align: center;
  margin-top: 50px;
}

.imagen {
  width: 200px;
  padding: 7px;
}

#top {
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  .grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #z {
    z-index: 97;
  }
}

@media screen and (max-width: 320px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body {
    font-size: 25px;
  }
  header h1 {
    font-size: 40px;
    padding: 0%;
  }
  h2 {
    font-size: 35px;
  }
  h3 {
    font-size: 30px;
  }
}
/*# sourceMappingURL=prueba.css.map */